html,
body {
  padding: 0;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  font-family: -apple-system, "SuisseIntl", "Roboto", "Arial", sans-serif;
  font-size: 1vw;
  line-height: 1.2;
  color: #000;
}
